body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    background-image: url('/assets/images/offerbg.jpg');
    background-size: cover;
    background-attachment: scroll;
  }
  
  .offer-container {
    padding: 20px;
  }
  
  .offer {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .offer h2 {
    text-align: center;
    margin: 0;
    font-size: 25px;
  }
  
  .item-grid {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .item {
    text-align: center;
    padding: 20px;
    vertical-align: top;
    border: 1px solid #ddd;
  }
  
  .item img {
    width: 200px;
    height: 200px;
  }
  
  .item h3 {
    margin: 10px 0;
    font-size: 20px;
  }
  
  .actual-price {
    margin: 10px 0;
    color: red;
  }
  
  .today-price {
    margin: 10px 0;
    color: green;
  }
  
  .btn-add-to-cart {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-add-to-cart:hover {
    background-color: #222;
    color: #ff9900;
  }
  
  footer {
    font-size: 25px;
    color: yellowgreen;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 8px;
    animation: moveText 10s linear infinite;
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  